html {
	height: 100%;
}

body{
	font-family: Arial, sans-serif;
	padding:0px;
	margin:0px;
	background: #4C4C4C no-repeat;
	background-image: linear-gradient(top, #969696 0%, #4C4C4C 100%);
	background-image: -o-linear-gradient(top, #969696 0%, #4C4C4C 100%);
	background-image: -moz-linear-gradient(top, #969696 0%, #4C4C4C 100%);
	background-image: -webkit-linear-gradient(top, #969696 0%, #4C4C4C 100%);
	background-image: -ms-linear-gradient(top, #969696 0%, #4C4C4C 100%);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #969696),
		color-stop(1, #4C4C4C)
	);
	height: 100%;
}

canvas:focus{
	outline:none;
}

h1 {
	text-align: center;
	font-family: 'Passion One', sans-serif;
	text-shadow: #ccc 0 2px;
	color: #222;
	font-size: 80px;
	text-transform: uppercase;
	margin-top: 0;
	padding-top: 30px;
	margin-bottom: 10px;
}

#GameConsole {
	display: none;
}

#gameContainer {
	width: 900px;
	height: 540px;
	margin: 0 auto;
	position: relative;
}

#gameContainerWrapper {
	width: 640px;
	height: 480px;
	margin: 0 auto;
}

#shadow {
	position: absolute;
	bottom: 30px;
	height: 60px;
	width: 900px;
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #212121 0%, rgba(104,104,104,0) 70%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #212121 0%, rgba(104,104,104,0) 70%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #212121 0%, rgba(104,104,104,0) 70%);
	background-image: -webkit-gradient(radial, center, 0, center, 506, color-stop(0, #212121), color-stop(0.8, rgba(104,104,104,0)));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #212121 0%, rgba(104,104,104,0) 70%);
	background-image: radial-gradient(ellipse farthest-corner at center, #212121 0%, rgba(104,104,104,0) 70%);
}

#GameCanvas, #gameFlashObject {
	background: url(loading.png) no-repeat;
	margin: 0;
	position: relative;
	z-index: 1;
}

#description, #copyright {
	width: 640px;
	margin: 0 auto;
	color: #ccc;
	font-size: 14px;
	text-shadow: #000 0 1px;
}

#copyright {
	color: #222;
	text-align: center;
	margin-bottom: 20px;
	line-height: 1.7em;
	font-family: 'Passion One', sans-serif;
	font-size: 20px;
	text-shadow: #ccc 0 1px;
}

#copyright a {
	color: #333;
	text-decoration: none;
}

#copyright a:hover {
	text-decoration: underline;
}

#description h3 {
	text-align: center;
	font-family: 'Passion One', sans-serif;
	text-shadow: #aaa 0 1px;
	color: #222;
	font-size: 36px;
	text-transform: uppercase;
	margin: 0 0 15px 0;
}